<!doctype html>
<meta charset="utf-8">

<img src={{ url_for('static', filename = "dot-main-player-logo.png") }} width="100px">

<p><a href = {{ url_for('episodes.addEpisode') }}>Add Episode</a></p>

<table>
    <thead>
        <tr id = "headerRow">
            {% for h in episodes[0].keys() %}
            <th>{{ h }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id = "episodeList">
        {% for e in episodes %}
        <tr>
            {% for d in e %}
            <td>{{ d }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <script src= {{ url_for('static', filename='episodeTable.js') }}></script> -->